{
	"plugins": [
		"syntax-trailing-function-commas",
		"transform-async-to-generator",
		"transform-class-constructor-call",
		"transform-class-properties",
		"transform-do-expressions",
		"transform-exponentiation-operator",
		"transform-function-bind",
		"transform-object-rest-spread",

		"transform-es2015-classes",
		"transform-es2015-modules-commonjs",

		"syntax-flow",
		"syntax-jsx",
		"transform-flow-strip-types",
		["transform-react-jsx", {"pragma": "ash.createElement"}]
	]
}

