:root {
	-ms-overflow-style: -ms-autohiding-scrollbar; /* IE11+ */
	overflow-y: scroll; /* All browsers without overlaying scrollbars */
	text-size-adjust: 100%; /* iOS 8+ */
}

body {
	margin: 0;
}

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
	display: none;
}

[unselectable] {
	user-select: none; /* Android 4.4+, Chrome 40+, Firefox 36+, iOS 8+, Safari 8+ */
}


/**
 * Links
 */

/**
 * Remove the gray background color from active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
	outline: 0;
}


/**
 * Text-level semantics
 */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}


/**
 * Embedded content
 */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
	overflow: hidden;
}

/* Grouping content */

/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}


/**
 * Forms
 */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
	overflow: auto; /* Internet Explorer 11+ */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	width: auto; /* Firefox 36+ */
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* 2 */
	box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
	font-weight: bold;
}


/**
 * Tables
 */

/**
 * Remove most spacing between table cells.
 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}


/**
 * Universal inheritance
 */
*,
::before,
::after {
	box-sizing: inherit;
}

* {
	font-size: inherit;
	line-height: inherit;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

/**
 * specify solid border style of all elements
 */
*,
::before,
::after {
	border-style: solid;
	border-width: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: top;
}

button,
input,
select,
textarea {
	color: inherit;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
}

code,
kbd,
pre,
samp {
	font-family: monospace;
}


select {
	-moz-appearance: none; /* Firefox 36+ */
	-webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
	display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
	color: currentColor; /* Internet Explorer 11+ */
}


/* hide content from screens but not screenreaders */
@media screen {
	[hidden~="screen"] {
		display: inherit;
	}

	[hidden~="screen"]:not(:active):not(:focus):not(:target) {
		clip: rect(0 0 0 0) !important;
		position: absolute !important;
	}
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/**
 * Page
 */
html {
	overflow-y: scroll;
}

body {
	box-sizing: border-box;
	position: relative;
	z-index: 0;
	width: 100%;
	min-height: 100%;
		
	padding: 0 1bh;
	margin: 0;
}


/**
 * Text
 */
html {
	color: var(--text.color);
	background-color: var(--text.backgroundColor);
	font-size: calc(var(--typographicScale.base) * 1px);
	font-family: var(--text.fontFamily);
	font-feature-settings: var(--text.fontFeatures);
}

body {
	font-size: calc(var(--typographicScale.base) * 1px);
	line-height: 1bh;
}

p {
	margin: 0;

	hyphens: auto;
	hyphenate-limit-lines: 3;
	hyphenate-limit-chars: 4 2 2;
	hyphenate-limit-zone: 2em;
}

::selection {
	color: var(--text.selection.color);
	background: var(--text.selection.backgroundColor);
	text-shadow: none;
}

code {
	font-family: Consolas, monospace;
	font-size: calc(var(--typographicScale.4) * 1px);
}

hr {
	position: relative;
	margin: 2bh 0;
	width: auto;
	height: 1bh;
	padding: 0;

	&:before {
		content: '\25ca';
		position: absolute;
		width: 1bh;
		height: 1bh;
		margin-left: -0.5bh;
		left: 50%;
		top: 0;

		color: var(--colors.primary1.base);

		font-weight: 600;
		text-align: center;
	}
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6,
.storyTitleHeading,
.storyLevel1Heading,
.storyLevel2Heading,
.storyLevel3Heading,
.storyLevel4Heading,
.sectionTitleHeading,
.sectionLevel1Heading,
.sectionLevel2Heading,
.sectionLevel3Heading,
.sectionLevel4Heading {
	position: relative;
	margin: 0;
	padding: 0;

	color: var(--heading.color);
	
	font-family: var(--heading.fontFamily);
	font-feature-settings: var(--heading.fontFeatures);
	hyphens: none;
}

.storyTitleHeading {
	margin: 0 0 2bh;
	padding-top: 0;
	
	font-size: calc(var(--heading.storyTitle.fontSize) * 1px);
	line-height: 3bh;
	font-weight: var(--heading.storyTitle.fontWeight);
	text-align: center;
	
	&:before {
		content: none;
	}
	
	b {
		display: block;
		margin-top: 1bh;
		
		font-size: calc(var(--typographicScale.4) * 1px);
		text-transform: uppercase;
	}
	
	.author {
		display: block;
		margin-top: 0.5bh;
		
		font-size: calc(var(--typographicScale.8) * 1px);
		font-weight: 600;
	}
}

.storyLevel1Heading {
	margin: 4bh 0 2bh;
	padding-top: 2bh;
	
	font-size: calc(var(--heading.storyLevel1.fontSize) * 1px);
	line-height: 2bh;
	font-weight: var(--heading.storyLevel1.fontWeight);
	text-align: center;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		height: 0;
		margin-left: calc(4bh * -0.5);
		width: 4bh;

		border-bottom: 2px solid var(--colors.primary1.base);
	}
	
	b {
		display: block;
		margin-top: 0.5bh;
		
		font-size: calc(var(--typographicScale.4) * 1px);
		text-transform: uppercase;
	}
}

.storyLevel2Heading {
	margin: 2bh 0 0.5bh;
	padding: 0;
	
	font-size: calc(var(--heading.storyLevel2.fontSize) * 1px);
	line-height: 1.5bh;
	font-weight: var(--heading.storyLevel2.fontWeight);
	text-align: left;

	&:before {
		content: none;
	}
}

.storyLevel3Heading {
	margin: 2bh 0 0.5bh;
	padding: 0;
	
	font-size: calc(var(--heading.storyLevel3.fontSize) * 1px);
	line-height: 1bh;
	font-weight: var(--heading.storyLevel3.fontWeight);
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	&:before {
		content: none;
	}
}

.storyLevel4Heading {
	margin: 2bh 0 0.5bh;
	padding: 0;
	
	font-size: calc(var(--heading.storyLevel4.fontSize) * 1px);
	line-height: 1bh;
	font-weight: var(--heading.storyLevel4.fontWeight);
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	&:before {
		content: none;
	}
}

.sectionTitleHeading {
	margin: 2bh 0;
	padding: 0;
	
	font-size: calc(var(--heading.sectionTitle.fontSize) * 1px);
	line-height: 2bh;
	font-weight: var(--heading.sectionTitle.fontWeight);
	text-align: center;

	&:before {
		content: none;
	}
	
	b {
		display: block;
		margin-top: 0.5bh;
		
		font-size: calc(var(--typographicScale.4) * 1px);
		text-transform: uppercase;
	}
}

.sectionLevel1Heading {
	margin: 2bh 0 0.5bh;
	padding: 1bh 0 0;
	
	font-size: calc(var(--heading.sectionLevel1.fontSize) * 1px);
	line-height: 1bh;
	font-weight: var(--heading.sectionLevel1.fontWeight);
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	&:first-child {
		margin-top: 0;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 0;
		margin-left: 0;
		width: 4bh;

		border-bottom: 2px solid var(--colors.primary1.base);
	}
}

.sectionLevel2Heading {
	margin: 1bh 0 0.5bh;
	padding: 0;
	
	font-size: calc(var(--heading.sectionLevel2.fontSize) * 1px);
	line-height: 1bh;
	font-weight: var(--heading.sectionLevel2.fontWeight);
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	&:first-child {
		margin-top: 0;
	}

	&:before {
		content: none;
	}
}

.sectionLevel3Heading {
	margin: 1bh 0 0.5bh;
	padding: 0;
	
	font-size: calc(var(--heading.sectionLevel3.fontSize) * 1px);
	line-height: 1bh;
	font-weight: var(--heading.sectionLevel3.fontWeight);
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	&:first-child {
		margin-top: 0;
	}

	&:before {
		content: none;
	}
}

.sectionLevel4Heading {
	margin: 1bh 0 0.5bh;
	padding: 0;
	
	font-size: calc(var(--heading.sectionLevel4.fontSize) * 1px);
	line-height: 1bh;
	font-weight: var(--heading.sectionLevel4.fontWeight);
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	&:first-child {
		margin-top: 0;
	}

	&:before {
		content: none;
	}
}


/**
 * Links
 */
a {
	transition: var(--link.default.transition);

	color: var(--link.default.color);
	background-color: var(--link.default.backgroundColor);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.default.underlineColor) 50%);
	background-position: 0 var(--link.default.underlinePosition);
	background-repeat: repeat-x;
	background-size: calc(var(--link.default.underlineWidth) * 2px) calc(var(--link.default.underlineWidth) * 2px);
	
		
	text-decoration: none;
	font-weight: var(--link.default.fontWeight);
	
	&:visited {
		color: var(--link.visited.color);
		background-color: var(--link.visited.backgroundColor);
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.visited.underlineColor) 50%);
		background-size: calc(var(--link.visited.underlineWidth) * 2px) calc(var(--link.visited.underlineWidth) * 2px);
	}
			
	&:focus {
		color: var(--link.focused.color);
		background-color: var(--link.focused.backgroundColor);
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.focused.underlineColor) 50%);
		outline: var(--link.focused.outline);
		background-size: calc(var(--link.focused.underlineWidth) * 2px) calc(var(--link.focused.underlineWidth) * 2px);
	}
		
	&:hover, &:active {
		color: var(--link.hovered.color);
		background-color: var(--link.hovered.backgroundColor);
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.hovered.underlineColor) 50%);
		background-size: calc(var(--link.hovered.underlineWidth) * 2px) calc(var(--link.hovered.underlineWidth) * 2px);
	}
}

h1, h2, h3, h4, h5, h6,
.storyTitleHeading,
.storyLevel1Heading,
.storyLevel2Heading,
.storyLevel3Heading,
.storyLevel4Heading,
.sectionTitleHeading,
.sectionLevel1Heading,
.sectionLevel2Heading,
.sectionLevel3Heading,
.sectionLevel4Heading {
	a {
		transition: var(--link.heading.default.transition);

		color: var(--link.heading.default.color);
		background-color: var(--link.heading.default.backgroundColor);
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.heading.default.underlineColor) 50%);
		background-position: 0 var(--link.heading.default.underlinePosition);
		background-repeat: repeat-x;
		background-size: calc(var(--link.heading.default.underlineWidth) * 2) calc(var(--link.heading.default.underlineWidth) * 2);
		
		font-weight: var(--link.heading.default.fontWeight);
		
		&:visited {
			color: var(--link.heading.visited.color);
			background-color: var(--link.heading.visited.backgroundColor);
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.heading.visited.underlineColor) 50%);
			background-size: calc(var(--link.heading.visited.underlineWidth) * 2) calc(var(--link.heading.visited.underlineWidth) * 2);
		}
		
		&:focus {
			color: var(--link.heading.focused.color);
			background-color: var(--link.heading.focused.backgroundColor);
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.heading.focused.underlineColor) 50%);
			background-size: calc(var(--link.heading.focused.underlineWidth) * 2) calc(var(--link.heading.focused.underlineWidth) * 2);
			outline: var(--link.heading.focused.outline);
		}
			
		&:hover, &:active {
			color: var(--link.heading.hovered.color);
			background-color: var(--link.heading.hovered.backgroundColor);
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--link.heading.hovered.underlineColor) 50%);
			background-size: calc(var(--link.heading.hovered.underlineWidth) * 2) calc(var(--link.heading.hovered.underlineWidth) * 2);
		}
	}
}


/**
 * Lists
 */
ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

ol {
	margin: 0;
	padding: 0;

	list-style: none;
}

.list, .orderedList {
	margin: 0.5bh 1bh;
	padding: 0;

	list-style: none;
	counter-reset: list;

	li {
		position: relative;

		&:before {
			content: '\25CA';
			position: absolute;
			right: 100%;
			top: 0;
			width: 1bh;
			height: 1bh;

			color: var(--colors.primary1.base);

			font-weight: 600;
			text-align: center;
			counter-increment: list;
		}

		ul, ol {
			margin-left: b(0);

			counter-reset: list;

			li {
				&:before {
					content: '\2022';
				}
			}
		}
	}
}

.orderedList {
	li {
		&:before {
			content: counters(list, ".") " ";
			
			width: auto;
			top: calc((var(--typographicScale.base) - var(--typographicScale.4)) * 0.25px);
			padding-right: 0.5em;
			
			color: inherit;
			
			font-size: calc(var(--typographicScale.4) * 1px);
			font-weight: 600;
			text-align: left;
			font-feature-settings: 'tnum';
		}
		
		ul, ol {
			margin: 0.5bh 0 0.5bh 0.7em;

			li {
				&:before {
					content: counters(list, '.') ' ';
				}
			}
		}
	}
}


/**
 * Grid
 */
body {
	&:global(.hasGrid):after {
		content: '';
		position: absolute;
		left: 1bh;
		top: 0;
		bottom: 0;
		right: 1bh;
		z-index: 10;
		pointer-events: none;

		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.2) 46.4286%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 96.4286%, rgba(0, 0, 0, 0.1) 100%) 0 0 / 100% 1bh repeat, linear-gradient(to right,
			rgba(0, 0, 0, 0.15) 0%,
			rgba(0, 0, 0, 0.15) calc(0% + 1bh),
			rgba(0, 0, 0, 0.0) calc(0% + 1.0001bh),
			rgba(0, 0, 0, 0.0) calc(49.9999% - 1.0001bh),
			rgba(0, 0, 0, 0.15) calc(49.9999% - 1bh),
			rgba(0, 0, 0, 0.15) 49.9999%,
			rgba(0, 0, 0, 0.1) 50%,
			rgba(0, 0, 0, 0.1) calc(50% + 1bh),
			rgba(0, 0, 0, 0.0) calc(50% + 1.0001bh),
			rgba(0, 0, 0, 0.0) calc(100% - 1.0001bh),
			rgba(0, 0, 0, 0.1) calc(100% - 1bh),
			rgba(0, 0, 0, 0.1) 100%) 0 0 / calc(2 / var(--grid.columns) * 100%) 100% repeat;
			
		@media screen and (min-width: 1px) and (max-width: 800px) {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.2) 46.4286%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 96.4286%, rgba(0, 0, 0, 0.1) 100%) 0 0 / 100% 1bh repeat, linear-gradient(to right,
			rgba(0, 0, 0, 0.15) 0%,
			rgba(0, 0, 0, 0.15) calc(0% + 1bh),
			rgba(0, 0, 0, 0.0) calc(0% + 1.0001bh),
			rgba(0, 0, 0, 0.0) calc(49.9999% - 1.0001bh),
			rgba(0, 0, 0, 0.15) calc(49.9999% - 1bh),
			rgba(0, 0, 0, 0.15) 49.9999%,
			rgba(0, 0, 0, 0.1) 50%,
			rgba(0, 0, 0, 0.1) calc(50% + 1bh),
			rgba(0, 0, 0, 0.0) calc(50% + 1.0001bh),
			rgba(0, 0, 0, 0.0) calc(100% - 1.0001bh),
			rgba(0, 0, 0, 0.1) calc(100% - 1bh),
			rgba(0, 0, 0, 0.1) 100%) 0 0 / calc(2 / var(--grid.columns) * 200%) 100% repeat;
		}
	}
}
